body{
    background: linear-gradient(to right, #B0C4DE, #87CEEB);
}

header{
    border: dashed 1px black;
    background-color: silver;
    height: 25px;
}

nav{
    text-align: right;
    margin-right: 25px;
    font-family: cursive;
    font: bold;
}

h1{
    padding-left: 10%;    
}

h3{
    text-align: center;
}

#JMA{
    background-color: silver;
    border: solid 0.5px black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
}

#TF{
    background-color: silver;
    border: solid 0.5px black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
}

#UNIP{
    background-color: silver;
    border: solid 0.5px black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
}

abbr{
    cursor: pointer;
}

p{
    margin-left: 2.5%;
}

p::first-letter{
    font-size: 30px;
    padding-left: 2%;
}